<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Good Habits</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="goodhabits">
                <span class="oi oi-plus" aria-hidden="true"></span> Good Habits
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Habit? SelectedHabit { get; set; }
    private Habit? EditingHabit { get; set; }
    private Habit? AddingHabit { get; set; }
    private bool IsEditing { get; set; } = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ShowDetails(Habit habit)
    {
        SelectedHabit = habit;
        IsEditing = false;
    }

    private void AddHabit()
    {
        Habit newHabit = new()
            {
                Name = "New Habit",
                Description = "Enter a description here"
            };

        GoodHabits.Add(newHabit);
        SelectedHabit = newHabit;
    }

    private void EditHabit(Habit habit)
    {
        SelectedHabit = habit;
        ShowEditForm();
    }

    private void DeleteHabit(Habit habit)
    {
        GoodHabits.Remove(habit);

        if (SelectedHabit == habit)
        {
            SelectedHabit = null;
        }
    }

    private void ShowEditForm()
    {
        IsEditing = true;
        EditingHabit = new Habit()
            {
                Id = SelectedHabit!.Id,
                Name = SelectedHabit!.Name,
                Description = SelectedHabit!.Description
            };
    }

    private void SaveHabit()
    {
        GoodHabits.Add(EditingHabit!);
        GoodHabits.Remove(SelectedHabit!);
        IsEditing = false;
        SelectedHabit = null;
    }

    private void CancelEdit()
    {
        IsEditing = false;
        EditingHabit = null;
        SelectedHabit = null;
    }

}
